#top_timeline_container{
    background-color: #0F0F0F;
    padding: 5rem 0;
    color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top_timeline{
    display: flex;
    gap: 0;
    justify-content: left;
    align-items: center;
}

.top_timeline_year{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    border: 5px solid #37773A;
    border-radius: 10px;
    box-shadow: 
        0 0 10px #37773A,
        0 0 20px #37773A,
        0 0 40px rgba(55, 119, 58, 0.6),
        inset 0 0 10px #37773A,
        inset 0 0 20px rgba(55, 119, 58, 0.6);
    transition: box-shadow 0.3 ease;
    cursor: pointer;
}

.top_timeline_year:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.top_timeline_connector{
    height: 0px;
    background-color: #37773A;
    width: 10rem;
    border: 2.5px solid #37773A;
    box-shadow: 
        0 0 10px #37773A,
        0 0 20px #37773A,
        0 0 40px rgba(55, 119, 58, 0.6);
}