#top_timeline_container{
    background-color: #333333;
    padding: 5rem 0;
    color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top_timeline{
    display: flex;
    gap: 0;
    justify-content: left;
    align-items: center;
}

.top_timeline_year{
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    border: 5px solid #37773A;
    border-radius: 10px;
}

.top_timeline_connector{
    height: 5px;
    background-color: #37773A;
    width: 10rem;
}